@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Georgian:wght@100..900&display=swap');

*
{
  
  margin: 0px;
  padding: 0px;
  
}

html, body
{
  
  min-height: 100%vh;
  background-color: grey;
  font-family: "Noto Sans Georgian", "Arial" "Times New Roman";
  
}

:root
{
  
  --cor1:#314759;
  --cor2:#F2EFBD;
  --cor3:#D9C8A9;
  --cor4:#8C715A;
  --cor5:#A62929;
  --cor6:0, 0, 0;
  --font1:"Noto Sans Georgian";
  --font2: "Merriweather";
  
  
  
}

header 
{
  
  background-color: black;
  padding: 30px 0px ;
  
}

header > h1 
{
  
  padding: 10px;
  font-family: var(--font2);
  font-size: 8vw;
  color: var(--cor4);
  text-align: center;
  
}

a
{
  
  text-decoration: none;
  color: var(--cor2);
  font: normal 500 1em var(--font1);
  
}

a:hover
{
  
  text-decoration: underline;
  
}

header > p
{
  
  font-family: var(--font1);
  font-size: 1em;
  text-align: center;
  color: var(--cor3);
  
}

section
{
  
  padding: 10vh 0 5vh 20px;
  
}

.normal
{
  
  background-color: var(--cor1);
  color: white;
  
}

pre{
font: normal 400 4vw var(--font1);
line-height: 1.5em;
}

.imagem1
{
  
  color: white;
  padding-left: 10px;
  background: var(--cor5) url('img/imagem1.jpeg') center top no-repeat fixed;
  background-size: cover;
  
  
}

.imagem1 > pre
{
  
  background-color: rgba(var(--cor6), 80%); 
  display: inline-block;
  padding: 20px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  
}

.imagem2
{
  
  background-color: var(--cor5);
  color: white;
  padding-left: 10px;
  background: var(--cor5) url('img/imagem2.jpeg') center top no-repeat fixed;
  background-size: cover;
  
}

.imagem2 > pre
{
  
  background-color: rgba(var(--cor6), 80%); 
  display: inline-block;
  padding: 20px;
  box-shadow: 1px 1px 10px black;
  border-radius: 5px;
  
  
}

footer
{
  
  background-color: black;
  color: var(--cor3);
  text-align: center;
  font: normal normal 1.5vw var(--font1);
  padding: 20px 0px;
  
}